<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zyc.p2p.key.charge.mapper.ChargeRecordMapper" >
  <resultMap id="BaseResultMap" type="com.zyc.p2p.key.charge.model.ChargeRecord" >
    <constructor >
      <arg column="real_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="id_number" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="perlods" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="current_return" jdbcType="REAL" javaType="java.lang.Float" />
      <arg column="capital" jdbcType="REAL" javaType="java.lang.Float" />
      <arg column="service_cost" jdbcType="REAL" javaType="java.lang.Float" />
      <arg column="interest" jdbcType="REAL" javaType="java.lang.Float" />
      <arg column="state" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="charge_date" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="refund_date" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="overdue_count" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="overdue_cost" jdbcType="BIGINT" javaType="java.lang.Long" />

    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    real_name, id_number, perlods, current_return, capital,service_cost,interest,state,charge_date,refund_date,overdue_count,overdue_cost
  </sql>
  <insert id="insert" parameterType="com.zyc.p2p.key.charge.model.ChargeRecord" >
    insert into charge_record (real_name, id_number, perlods,
      current_return, capital, service_cost,
      interest, state, charge_date)
    values (#{realName,jdbcType=VARCHAR}, #{idNumber,jdbcType=VARCHAR}, #{perlods,jdbcType=INTEGER},
      #{currentReturn,jdbcType=REAL}, #{capital,jdbcType=REAL}, #{serviceCost,jdbcType=REAL},
      #{interest,jdbcType=REAL}, #{state,jdbcType=VARCHAR}, #{chargeDate,jdbcType=VARCHAR})
  </insert>
  <update id="updateOverdue" parameterType="com.zyc.p2p.key.charge.model.ChargeRecord">
    UPDATE charge_record SET overdue_count=#{overdueCount},overdue_cost=#{overdueCost} WHERE id_number=#{idNumber} AND state='已扣款'
  </update>
  <!--<insert id="insertSelective" parameterType="com.zyc.p2p.key.charge.model.ChargeRecord" >-->
    <!--insert into charge_record-->
    <!--<trim prefix="(" suffix=")" suffixOverrides="," >-->
      <!--<if test="realName != null" >-->
        <!--real_name,-->
      <!--</if>-->
      <!--<if test="idNumber != null" >-->
        <!--id_number,-->
      <!--</if>-->
      <!--<if test="perlods != null" >-->
        <!--perlods,-->
      <!--</if>-->
      <!--<if test="currentReturn != null" >-->
        <!--current_return,-->
      <!--</if>-->
      <!--<if test="capital != null" >-->
        <!--capital,-->
      <!--</if>-->
      <!--<if test="serviceCost != null" >-->
        <!--service_cost,-->
      <!--</if>-->
      <!--<if test="interest != null" >-->
        <!--interest,-->
      <!--</if>-->
      <!--<if test="state != null" >-->
        <!--state,-->
      <!--</if>-->
      <!--<if test="chargeDate != null" >-->
        <!--charge_date,-->
      <!--</if>-->
      <!--<if test="refundDate != null" >-->
        <!--refund_date,-->
      <!--</if>-->
    <!--</trim>-->
    <!--<trim prefix="values (" suffix=")" suffixOverrides="," >-->
      <!--<if test="realName != null" >-->
        <!--#{realName,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="idNumber != null" >-->
        <!--#{idNumber,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="perlods != null" >-->
        <!--#{perlods,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="currentReturn != null" >-->
        <!--#{currentReturn,jdbcType=REAL},-->
      <!--</if>-->
      <!--<if test="capital != null" >-->
        <!--#{capital,jdbcType=REAL},-->
      <!--</if>-->
      <!--<if test="serviceCost != null" >-->
        <!--#{serviceCost,jdbcType=REAL},-->
      <!--</if>-->
      <!--<if test="interest != null" >-->
        <!--#{interest,jdbcType=REAL},-->
      <!--</if>-->
      <!--<if test="state != null" >-->
        <!--#{state,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="chargeDate != null" >-->
        <!--#{chargeDate,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="refundDate != null" >-->
        <!--#{refundDate,jdbcType=VARCHAR},-->
      <!--</if>-->
    <!--</trim>-->
  <!--</insert>-->
  <select id="selChargePager" resultType="com.zyc.p2p.key.charge.model.ChargeRecord">
    SELECT
    perlods, current_return, capital,service_cost,interest,state,charge_date,refund_date
    FROM charge_record WHERE 1 = 1 AND id_number = #{idNumber}
  </select>
    <select id="overdueDetails" resultType="com.zyc.p2p.key.charge.model.ChargeRecord"
            parameterType="com.zyc.p2p.key.charge.model.ChargeRecord">
      SELECT id_number,perlods, current_return, capital,service_cost,interest,state,charge_date,refund_date,overdue_count,overdue_cost
      FROM charge_record WHERE 1 = 1 AND id_number = #{idNumber} AND state='已扣款' AND refund_date>charge_date
    </select>
</mapper>