<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyc.p2p.key.sys.mapper.SysRoleMapper">
  <resultMap id="BaseResultMap" type="com.zyc.p2p.key.sys.model.SysRole">
    <constructor>
      <idArg column="roleid" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="rolename" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="description" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    roleid, rolename, description
  </sql>

</mapper>